In [2]:
import pandas as pd 
import json
import os 
from os.path import join
import random

train_classes = sorted(os.listdir('OfficeHomeDataset_10072016/Real World'))[:40]
len(train_classes), train_classes

(40,
 ['Alarm_Clock',
  'Backpack',
  'Batteries',
  'Bed',
  'Bike',
  'Bottle',
  'Bucket',
  'Calculator',
  'Calendar',
  'Candles',
  'Chair',
  'Clipboards',
  'Computer',
  'Couch',
  'Curtains',
  'Desk_Lamp',
  'Drill',
  'Eraser',
  'Exit_Sign',
  'Fan',
  'File_Cabinet',
  'Flipflops',
  'Flowers',
  'Folder',
  'Fork',
  'Glasses',
  'Hammer',
  'Helmet',
  'Kettle',
  'Keyboard',
  'Knives',
  'Lamp_Shade',
  'Laptop',
  'Marker',
  'Monitor',
  'Mop',
  'Mouse',
  'Mug',
  'Notebook',
  'Oven'])

In [3]:
mapping = {k:i for i,k in enumerate(train_classes)}

In [4]:
frames = []
for clas in train_classes:
    path = join('OfficeHomeDataset_10072016/Real World',clas)
    for image in os.listdir(path):
        frames.append(pd.DataFrame({
            'image':join(path, image),
            'label_name':clas,
            'label':mapping[clas]
        }, index = [0]))

In [5]:
df = pd.concat(frames).reset_index(drop = True)
# .to_csv('OfficeHomeDataset_10072016/train.csv', index = False)
df

                                                  image   label_name  label
0     OfficeHomeDataset_10072016/Real World/Alarm_Cl...  Alarm_Clock      0
1     OfficeHomeDataset_10072016/Real World/Alarm_Cl...  Alarm_Clock      0
2     OfficeHomeDataset_10072016/Real World/Alarm_Cl...  Alarm_Clock      0
3     OfficeHomeDataset_10072016/Real World/Alarm_Cl...  Alarm_Clock      0
4     OfficeHomeDataset_10072016/Real World/Alarm_Cl...  Alarm_Clock      0
...                                                 ...          ...    ...
2743  OfficeHomeDataset_10072016/Real World/Oven/000...         Oven     39
2744  OfficeHomeDataset_10072016/Real World/Oven/000...         Oven     39
2745  OfficeHomeDataset_10072016/Real World/Oven/000...         Oven     39
2746  OfficeHomeDataset_10072016/Real World/Oven/000...         Oven     39
2747  OfficeHomeDataset_10072016/Real World/Oven/000...         Oven     39

[2748 rows x 3 columns]

In [6]:
val_df = df.sample(frac=0.2, replace = False)
train_df = df[~df['image'].isin(val_df['image'].values)]

In [7]:
val_df.shape, train_df.shape

((550, 3), (2198, 3))

In [8]:
train_df.to_csv('OfficeHomeDataset_10072016/train.csv', index = False)
val_df.to_csv('OfficeHomeDataset_10072016/val.csv', index = False)
df.to_csv('OfficeHomeDataset_10072016/train_2.csv', index = False)

In [9]:
val_classes = sorted(os.listdir('/Users/sarthakm/Desktop/biplabsir_research/gcd/OfficeHomeDataset_10072016/Clipart'))
len(val_classes)

65

In [10]:
mapping = {k:i for i,k in enumerate(val_classes)}

In [11]:
frames = []
for clas in val_classes:
    path = join('OfficeHomeDataset_10072016/Clipart',clas)
    for image in os.listdir(path):
        frames.append(pd.DataFrame({
            'image':join(path, image),
            'label_name':clas,
            'label':mapping[clas]
        }, index = [0]))

In [12]:
pd.concat(frames).to_csv('OfficeHomeDataset_10072016/test.csv', index = False)